//Imports
@import "variables";

.Form__padre {
    background-color: $primario;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
    padding-bottom: 15rem;
}

.alta__persona{
    margin: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.baja__persona{
    margin: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.modificaciones__persona{
    margin: auto;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.son1{
margin: 1rem 1rem;
}

.h1__personas {
    color: $blanco;
}

