//Variables
$primario: #114358; 
$primarioOscuro: #0a2c3a;
$secundario: #F2AA1F;
$secundarioOscuro: rgb(207, 146, 24);
$complementario: #F1ECE7;
$blanco: #EFEFEF;
$negro: #232323;
$fuentePrincipal: 'Montserrat', sans-serif;  